.container {
    width: 100%;
}

.coin-name-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 4px 0;

    font-size: 14px;
    line-height: 16px;
}

.coin-name {
    color: white;
}

.coin-abbr-name {
    color: darkgray;
}