.order-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 0;

    font-size: 14px;
    line-height: 16px;
}

.rate-cell {
    color: white;
    font-weight: initial;
    width: 50%;
}

.amount-cell {
    color: white;
    font-weight: initial;
    width: 50%;
}